.formLogin {
  max-width: 320px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 8px;
}

.labelLogin {
  display: flex;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding-top: 18px;
}
.inputLogin{
    height: 40px;
    padding: 16px;

}

.inputLoginButton {
  display: inline-block;
  width: 100px;
  padding: 8px;
  text-align: center;
  font-size: 14px;
  border: 1px solid #78c7af;
  background-color: #84eacb;
  border-radius: 4px;
  transition: box-shadow, color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.inputLoginButton:hover,
.inputLoginButton:focus {
  -webkit-box-shadow: inset 3px 3px 41px -15px rgb(171, 128, 211);
-moz-box-shadow: inset 3px 3px 41px -15px rgb(171, 128, 211);
box-shadow: inset 3px 3px 41px -15px rgb(171, 128, 211);
  color: rgb(251, 255, 255);
}

